In [1]:
!pip install pandas numpy requests matplotlib seaborn plotly

import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

Requirement already satisfied: pandas in c:\users\frang\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\frang\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: requests in c:\users\frang\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: matplotlib in c:\users\frang\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: seaborn in c:\users\frang\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: plotly in c:\users\frang\anaconda3\lib\site-packages (5.24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\frang\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\frang\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\frang\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\frang\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\frang\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\frang\anaconda3\lib\site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\frang\anaconda3\lib\site-packages (from requests) (2025.4.26)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\frang\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\frang\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\frang\anaconda3\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\frang\anaconda3\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\frang\anaconda3\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\frang\anaconda3\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\frang\anaconda3\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\frang\anaconda3\lib\site-packages (from plotly) (9.0.0)
Requirement already satisfied: six>=1.5 in c:\users\frang\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
url = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv"

df = pd.read_csv(url)

df.to_csv("../data/hospital_data_raw.csv", index=False)

df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN

In [4]:
# Filtrar por EspaÃ±a
df_es = df[df['location'] == 'Spain']

# Seleccionar columnas relevantes
cols = [
    'date',
    'hosp_patients',
    'weekly_hosp_admissions',
    'icu_patients',
    'new_cases',
    'new_deaths'
]
df_es = df_es[cols]

# Guardar datos filtrados
df_es.to_csv("../data/hospital_spain.csv", index=False)
df_es.tail()

,date,hosp_patients,weekly_hosp_admissions,icu_patients,new_cases,new_deaths
364255,2024-07-31,NaN,NaN,NaN,NaN,NaN
364256,2024-08-01,NaN,NaN,NaN,NaN,NaN
364257,2024-08-02,NaN,NaN,NaN,NaN,NaN
364258,2024-08-03,NaN,NaN,NaN,NaN,NaN
364259,2024-08-04,NaN,NaN,NaN,NaN,NaN