In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/hospital_spain.csv", parse_dates=['date'])
df.head()

,date,hosp_patients,weekly_hosp_admissions,icu_patients,new_cases,new_deaths
0,2020-01-05,NaN,NaN,NaN,0.0,0.0
1,2020-01-06,NaN,NaN,NaN,0.0,0.0
2,2020-01-07,NaN,NaN,NaN,0.0,0.0
3,2020-01-08,NaN,NaN,NaN,0.0,0.0
4,2020-01-09,NaN,NaN,NaN,0.0,0.0

In [3]:
# Comprobar valores faltantes
df.isna().sum()

date                        0
hosp_patients             629
weekly_hosp_admissions    635
icu_patients              629
new_cases                 392
new_deaths                392
dtype: int64

In [4]:
# Interpolaci√≥n lineal para rellenar NaN
df.interpolate(method='linear', inplace=True)
df.isna().sum()

date                        0
hosp_patients             209
weekly_hosp_admissions    215
icu_patients              209
new_cases                   0
new_deaths                  0
dtype: int64

In [5]:
# Guardar limpio
df.to_csv("../data/hospital_spain_clean.csv", index=False)